@model Portfolio.Entity.Concrete.WriterMessage
@{
    ViewData["Title"] = "SenderMessageDetail";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesaj İçerik</h4>

            <form class="forms-sample">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.WriterMessageID, new { @type = "hidden" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Alıcı</label>
                    @Html.TextBoxFor(x => x.ReceiverNAme, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Alıcı Mail</label>
                    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Konu</label>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Mesaj</label>
                    @Html.TextAreaFor(x => x.MessageContent, 4, 10, new { @class = "form-control" })
                </div>
                <a href="/Writer/Message/AddMessage" class="btn btn-primary">Yanıtla</a>
                <a href="/Writer/Message/SenderMessage" class="btn btn-secondary">Geri Dön</a>
            </form>
        </div>
    </div>
</div>
